.top {
  width: 100%;
  height: 50px;
  background-color: rgba(160, 160, 160, 0.01);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  font-family: "Josefin Sans", sans-serif;
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #a9a9a9;
  cursor: pointer;
}

.topCenter {
  flex: 6;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.topListItem:hover {
  color: gray;
}

.topImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}

.setting:hover {
  color: gray;
}

/* Mobile Phones */
@media (max-width: 550px) {
  .link-home {
    padding-right: 15px;
  }
  .link-login {
    margin-right: 60px;
  }
}

/* Mobile Phones */
@media (max-width: 400px) {
  .link-home {
    padding-right: 15px;
  }
  .link-login {
    margin-right: 45px;
  }
}